{{- $sign := promptBool "Git sign" -}}
{{- $work := promptBool "Work machine" -}}
git:
  autoCommit: false
  autoPush: false

data:
  name: Steve Hipwell
  email: steve.hipwell@gmail.com
  key: ~/.ssh/id_ed25519

  git:
    sign: {{ $sign }}
    signKey: ~/.ssh/id_ed25519

  work:
    enabled: {{ $work }}
    email: steve.hipwell@lexisnexisrisk.com

interpreters:
  ps1:
    command: pwsh
    args:
      - "-NoLogo"
