.editorconfig
README.md

{{- if eq .chezmoi.os "windows" }}
# Windows
.zprofile
.zshenv
.zshrc
.zsh_plugins.txt
.sh

{{- else }}
# ALL Linux
.ps1

{{- if .chezmoi.kernel.osrelease | lower | contains "microsoft" }}
# WSL 2
{{- else }}
# NOT WSL 2
{{- end }}
{{- end }}

{{- if not .work.enabled }}
.work.gitconfig
{{- end }}
