.editorconfig
README.md

{{- if eq .chezmoi.os "windows" }}
# Windows
.zprofile
.zshenv
.zshrc
.zsh_plugins.txt
.sh
{{- else }}
# ALL Linux
.ps1
{{- end }}

{{- if not .work.enabled }}
.work.gitconfig
{{- end }}
