{{- $work := promptBool "Work machine" -}}
git:
  autoCommit: false
  autoPush: false

data:
  name: Steve Hipwell
  email: steve.hipwell@gmail.com
  key: ~/.ssh/id_ed25519

  git:
    path: {{- if eq .chezmoi.os "windows" }}~/Code{{ else }}~/code{{ end }}

  work:
    enabled: {{ $work }}
    email: steve.hipwell@lexisnexisrisk.com

interpreters:
  ps1:
    command: pwsh
    args:
      - "-NoLogo"
