[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ printf "%s.pub" .key }}
[core]
{{- if eq .chezmoi.os "windows" }}
  fsmonitor = true
	sshCommand = 'C:/Program Files/OpenSSH/ssh.exe'
{{- end }}
	ignorecase = false
	autocrlf = input
	editor = code --wait
[gpg]
	format = ssh
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool]
	prompt = false
[mergetool]
	trustExitCode = true
[protocol]
	version = 2
{{- if eq .chezmoi.os "windows" }}
[http]
	sslBackend = schannel
{{- end }}
[init]
	defaultBranch = main
[pull]
  ff = only
[checkout]
	defaultRemote = origin
[merge]
  ff = only
[rebase]
	autoStash = true
[commit]
	gpgsign = true
[tag]
  sort = version:refname
{{- if .work.enabled }}
[includeIf "gitdir:{{ .git.path }}/github.com/lexisnexis-iac/"]
  path = ~/.work.gitconfig
[includeIf "gitdir:{{ .git.path }}/github.com/lexisnexis-rba/"]
  path = ~/.work.gitconfig
{{- end }}
