# Visuals
theme "catppuccin_macchiato"
default_layout "compact"
pane_frames false
simplified_ui true
mouse_mode false

{{- if eq .chezmoi.os "windows" }}
# Windows
default_shell "pwsh"
layout_dir "{{ .chezmoi.homeDir }}/.config/zellij/layouts"
{{- end }}

# Behavior
on_force_close detach
copy_on_select false
scroll_buffer_size 10000

# Keybindings
keybinds clear-defaults=true {
  normal {
    // Lock toggle
    bind "Ctrl g" { SwitchToMode "Locked"; }

    // Pane navigation
    bind "Alt h" { MoveFocus "Left"; }
    bind "Alt j" { MoveFocus "Down"; }
    bind "Alt k" { MoveFocus "Up"; }
    bind "Alt l" { MoveFocus "Right"; }

    // Pane resizing
    bind "Alt H" { Resize "Increase Left"; }
    bind "Alt J" { Resize "Increase Down"; }
    bind "Alt K" { Resize "Increase Up"; }
    bind "Alt L" { Resize "Increase Right"; }

    // Tabs
    bind "Alt 1" { GoToTab 1; }
    bind "Alt 2" { GoToTab 2; }
    bind "Alt 3" { GoToTab 3; }
    bind "Alt 4" { GoToTab 4; }
    bind "Alt n" { NewTab; }
    bind "Alt w" { CloseFocus; }
  }

  locked {
    bind "Ctrl g" { SwitchToMode "Normal"; }
  }
}

# Plugins
plugins {
  tab-bar { path "tab-bar" }
  status-bar { path "status-bar" }
}
